<script src="/js/secondary-nav.js" defer></script>
<script src="/js/nav.js" defer></script>

<header class="main-header" id="main-header">
    <nav class="main-header__nav">
      <ul class="main-header__item-list">
        <li class="main-header__item">
          <a href="/"><%= profilesName %></a>
        </li>
        <li class="main-header__item">
          <a href="/users/user1" id="user1Button">
            <%= user1Name %>
          </a>
          <ul class="secondary-nav" id="user1Dropdown" >
            <li>Expenses</li>
            <li>Variable Expenses</li>
            <li>Current Expenses</li>
            <li>Fixed Expenses</li>
          </ul>
        </li>
        <li class="main-header__item">
          <a href="/users/user2" id="user2Button">
            <%= user2Name %>
          </a>
          <ul class="secondary-nav" id="user2Dropdown" >
            <li>Expenses</li>
            <li>Variable Expenses</li>
            <li>Current Expenses</li>
            <li>Fixed Expenses</li>
          </ul>
        </li>
        <li class="main-header__item">
          <a href="/users/shared" id="sharedButton">
            <%= sharedName %>
          </a>
          <ul class="secondary-nav" id="sharedDropdown" >
            <li>Expenses</li>
            <li>Variable Expenses</li>
            <li>Current Expenses</li>
            <li>Fixed Expenses</li>
          </ul>
        </li>
      </ul>
    </nav>
  </header>