<script src="/js/secondary-nav.js" defer></script>
<script src="/js/nav.js" defer></script>

<header class="main-header" id="main-header">
    <nav class="main-header__nav">
      <ul class="main-header__item-list">
        <li class="main-header__item">
          <a href="/"><%= profilesName %></a>
        </li>
        
        <!-- User1 Dropdown -->
        <li class="main-header__item">
          <a href="/users/user1" id="user1Button">
            <%= user1Name %>
          </a>
          <ul class="secondary-nav" id="user1Dropdown">
            <li><a href="/users/user1/expenses">Expenses</a></li>
            <li><a href="/users/user1/variable-expenses">Variable Expenses</a></li>
            <li><a href="/users/user1/current-expenses">Current Expenses</a></li>
            <li><a href="/users/user1/fixed-expenses">Fixed Expenses</a></li>
          </ul>
        </li>

        <!-- User2 Dropdown -->
        <li class="main-header__item">
          <a href="/users/user2" id="user2Button">
            <%= user2Name %>
          </a>
          <ul class="secondary-nav" id="user2Dropdown">
            <li><a href="/users/user2/expenses">Expenses</a></li>
            <li><a href="/users/user2/variable-expenses">Variable Expenses</a></li>
            <li><a href="/users/user2/current-expenses">Current Expenses</a></li>
            <li><a href="/users/user2/fixed-expenses">Fixed Expenses</a></li>
          </ul>
        </li>

        <!-- Shared Dropdown -->
        <li class="main-header__item">
          <a href="/users/shared" id="sharedButton">
            <%= sharedName %>
          </a>
          <ul class="secondary-nav" id="sharedDropdown">
            <li><a href="/users/shared/expenses">Expenses</a></li>
            <li><a href="/users/shared/variable-expenses">Variable Expenses</a></li>
            <li><a href="/users/shared/current-expenses">Current Expenses</a></li>
            <li><a href="/users/shared/fixed-expenses">Fixed Expenses</a></li>
          </ul>
        </li>
      </ul>
    </nav>
</header>
