<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Product</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a class="active" href="/">Home</a></li>
                <li class="main-header__item"><a href="/Adi">Adi</a></li>
            </ul>
            <form action="/adi" method="POST">
                <div class="form-control">
                    <input type="text" placeholder="Eenter user name" name="username" id="username">
                </div>
    
                <button type="submit">
                    <i class="fas fa-plus"></i>
                </button>
            </form>
        </nav>
    </header>

    <main>
        <h1>My Fainance</h1>
        <p>List of all the Fainance...</p>
    </main>
</body>

</html>