/* Reset body styles */
body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

/* Main content area */
main {
    padding: 1rem;
}

/* Header styling */
.main-header {
    width: 100%;
    height: 2.5rem;
    background-color: #dbc441;
    padding: 0rem 1.5rem;
    padding-bottom: 0px; 
    transition: padding-bottom 0.5s ease;
}

/* Navigation container inside header */
.main-header__nav {
    height: 100%;
    display: flex;
    align-items: center;
}

/* Navigation list styling */
.main-header__item-list {
    position: relative;
    list-style: none;
    align-items: center;
    margin: 0;
    padding: 0;
    display: flex;
}

/* Individual navigation items */
.main-header__item {
    margin: 0 1rem;
    padding: 0;
}

/* Links inside navigation items */
.main-header__item a {
    text-decoration: none;
    color: black;
}

/* Link hover and active states */
.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active {
    color: #3e00a1;
}

/* Form styling to align input and button horizontally */
.form-control {
    display: flex;
    align-items: center;
}

.form-control input {
    margin-right: 5px; /* Space between input and button */
}


.highlighted {
    background-color: rgba(62, 42, 212, 0.2); /* Lighter, semi-transparent purple background */
    color: #3e2ad4;               /* Match color to the background for subtle contrast */
    font-weight: normal;          /* Remove bold to reduce emphasis */
    padding: 0.1rem 0.7rem;       /* Less padding */
    border-radius: 3px;           /* Slightly smaller rounded corners */
    transition: background-color 0.3s ease; /* Add a transition for a smooth highlight effect */
    border-radius: 10px;
}
